#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}

img.zoom {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}